<IfModule mod_rewrite.c>
RewriteEngine On

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.propfirmmap\.com [NC]
RewriteRule ^(.*)$ https://propfirmmap.com/$1 [L,R=301]

RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
