<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="..//assets/css/style.css">
        <link href="https://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>
             Figma Design
        </title>      
    </head>
                
    <body>
        <header  class="pt-5"> 
            <div class="continer">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="logo">
                            <img src="..//assets/images/logofull 1.png"  style="width: 80% !important;"> 
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </header>

        <!-- Page Title -->

        <h2 class="page_title pt-4 text-center text-white">Sign up</h2>

         <!-- End Page Title -->

         
           <!-- Sign Up Form -->

        <div class="container signup mt-2 pt-4 ">
            <form id="multiStepForm">
            <!-- Step 1 -->
                <div class="step active" id="step1">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
                    </div>
                    <div class="form-group"> 
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="country" placeholder="Country" name="country" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                    </div>
                    <button type="button" class="btn btn-primary frmbtn pr-5 pl-5" onclick="nextStep()">Next</button>
                </div>
            
                <!-- Step 2 -->
                <div class="step" id="step2">
                    <div class="form-group">
                        <label class="text-white ">How long have you been trading for?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="trading_experience" id="option1" value="0-6 months" required>
                            <label class="form-check-label text-white" for="option1">0-6 months</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="trading_experience" id="option2" value="6 months - 1 year">
                            <label class="form-check-label text-white" for="option2">6 months - 1 year</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="trading_experience" id="option3" value="1 year - 2 years">
                            <label class="form-check-label text-white" for="option3">1 year - 2 years</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="trading_experience" id="option4" value="2 years - 5 years">
                            <label class="form-check-label text-white" for="option4">2 years - 5 years</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="trading_experience" id="option5" value="5 years+">
                            <label class="form-check-label text-white" for="option5">5 years+</label>
                        </div>
                    </div>
                    <button type="button" class=" back" onclick="prevStep()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-primary pr-5 pl-5 frmbtn" onclick="nextStep()">Next</button>
                </div>
            
                <!-- Step 3 -->
                <div class="step" id="step3">
                    <div class="form-group">
                        <label class="text-white">Did you already take a prop firm challenge?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="prop_firm_challenge" id="option6" value="Never" required>
                            <label class="form-check-label text-white" for="option6">Never</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="prop_firm_challenge" id="option7" value="1">
                            <label class="form-check-label text-white" for="option7">1</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="prop_firm_challenge" id="option8" value="1-5">
                            <label class="form-check-label text-white" for="option8">1-5</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="prop_firm_challenge" id="option9" value="5+">
                            <label class="form-check-label text-white" for="option9">5+</label>
                        </div>
                    </div>
                    <div class="form-group form-check signup">
                        <input type="checkbox" class="form-check-input " id="terms" name="terms" required>
                        <label class="checkbox-label text-white" for="terms">I accept the Terms of Service & Privacy Policy</label>
                    </div>
                    <button type="button" class=" back" onclick="prevStep()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-success frmbtn pr-5 pl-5">Create My Account</button>
                  </div>
            </form>
        </div>
        <!-- Footer -->
         <div class="footer_height"></div>
         <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-8 col-12">
                        <div class="footer_div">
                            <div class="div-56">
                                <a href="">Privacy Policy</a>
                                <a href=""> Terms Of Use</a>
                                <a href=""> Copyright @PropFirmMap 2024</a>
                          </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
         </footer>
         <!-- End Footer -->
    </body>
          <!--  End Sign Up Form -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script>
        var currentStep = 1;
        var totalSteps = 3;
    
        function showStep(step) {
          for (var i = 1; i <= totalSteps; i++) {
            document.getElementById('step' + i).classList.remove('active');
          }
          document.getElementById('step' + step).classList.add('active');
        }
    
        function nextStep() {
          if (currentStep < totalSteps) {
            currentStep++;
            showStep(currentStep);
          }
        }
    
        function prevStep() {
          if (currentStep > 1) {
            currentStep--;
            showStep(currentStep);
          }
        }
    </script>
                        
               
 </html>