.revie_title{
    font-size: 20px;
    font-weight: 800;
    margin-top: 14px;
    margin-bottom: 0;
}
.step_form_btn.d-flex {
    justify-content: center;
}
button.btn.btn-primary.frmbtn.active, button.btn.btn-primary.frmbtn:hover{
    background: #7a95f8 !important;
    color: #FBF5F3 !important;
}
.step_form_btn.r_r_btn.d-flex>.frmbtn {
    width: 26%;
    color: #7a95f8;
    transition: background-color 0.3s, color 0.3s;
    border: 3px solid transparent;
    background: linear-gradient(to right, #FBF5F3, #FBF5F3), linear-gradient(to right, #7a95f8, #6453ca);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.step_form_btn.d-flex>button {
  min-width: 100px;
    margin: 0 12px !important;
}
button.btn.btn-primary.r_button.frmbtn_back {
    border: 1px solid #626262;
    background: transparent;
    color: #626262;
}
.review_tabs{
   border-radius: 20px;
   padding: 26px;
    background: #FBF5F3 !important;
}
.review_form_input{
    border-radius: 24px;
    color: #626262;
    border: 1px solid #626262;
    background: #FBF5F3;
}
.review_form_input:focus{
    border-radius: 24px;
    color: #626262;
    border: 1px solid #626262;
    background: #FBF5F3;
}
.review_form_input:focus-visible{
    border-radius: 24px;
    color: #626262;
    border: 1px solid #626262;
    background: #FBF5F3;
}

.r_button {
    min-width: 105px;
}
textarea.form-control.review_form_input::placeholder {
    color: #8E8E8E;
}
textarea.form-control.review_form_input {
    background-color: #E7E7E7 !important;
    border: 0 !important;
}
/* .rating {
    width: 50%;
    text-align: center;
} */
.rating-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ratings{
    text-align: center;
    width: 50%;
}
.ratingss{
    text-align: center;
   
}
/* .stars {
    display: flex;
    justify-content: center;
}
.star {
    font-size: 42px;
    cursor: pointer;
    color: #ccc;
    margin: 0px 7px;
}
.star.selected {
    color: #4a4adf;
} */

.star-container {
    display: inline-block;
    width: 4em;
    height: 4em;
    cursor: pointer;
    margin: -2px;
}

.star {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: url(#gradientBorder);
    stroke-width: 1.1;
}

.star.selected {
    fill: url(#gradientFill);
}

.star-outline {
    fill: transparent;
}
.ratingss p, .ratings p {
    color: #828282;
    font-size: 20px;
    font-weight: 500;
}

.Confirmation_container{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #E7E7E7; padding-top: 7px; padding-bottom: 7px;
}
input.confirmation-input, input.confirmation-input:focus, input.confirmation-input:focus-visible {
    width: 93%;
    border: 1px solid #E7E7E7 !important;
    background: transparent !important;
}
.review>label.checkbox-label {
    color: #828282;
    font-size: 18px;
}
.review>.checkbox-label:before{
    transition: background-color 0.3s, color 0.3s;
    border: 4px solid transparent;
    background: linear-gradient(to right, #FBF5F3, #FBF5F3), linear-gradient(to right, #7a95f8, #6453ca);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    margin-left: 0;
    margin-right: 5px;
}
.review>input[type="checkbox"]:checked + .checkbox-label:before {
    background: #7A95F8 !important;
    border-color: #7A95F8;
}
.review .checkbox-label:before {

    width: 23px !important;
    height: 23px !important;
}
.success_message{
    display: none;
}
input:focus {
    outline:none !important;
}

@media screen and (max-width: 520px) {
    .search-containers>input.search-input {
        font-size: 15px;
    }
    .step_form_btn.d-flex {
        justify-content: center;
        flex-wrap: wrap;
    }
    .step_form_btn.d-flex>button {
        margin-top: 10px !important;
      
    }
    div#step2 input, div#step2 select {
        margin-top: 24px;
    }
    .none{
        display: none;
    }
    .step .data p {
        justify-content: flex-start !important;
    }
    .star {
        font-size: 16px !important;
      
    }
    textarea.form-control.review_form_input {
        margin-bottom: 10px;
    }
}

