body{
    background: linear-gradient(to bottom, #7A95F8 8%, #6453CA 92%);
    overflow-x: hidden;
    min-height: 100vh;
}
p, span, div, h1,h2, h3, h4, h5, h6, a{
    font-family: 'Metropolis', sans-serif;
}
header .logo{
    text-align: center;
}
header .logo>img{
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 30px;
    width: 84%;
    margin-top: 4px;
}

  /* Header Menu */
  .navbar{
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin-top: -4px;
  }
  .menu {
    display: flex;
    gap: 14px;
}
.menu-item, .dropdown {
    position: relative;
}
.menu-button {
    padding: 10px 20px !important;
    border: 2px solid white !important;
    border-radius: 5px;
    background-color: transparent !important;
    color: white !important;
    font-size: 16px;
    cursor: pointer;
    transition:  0.3s;
    display: flex;
    align-items: center;
}
.menu-button:hover{
    color: white;
    text-decoration: none;
}

.menu-button img {
    height: 20px;
    margin-left: 5px;
}
.dropdown .menu-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 0 !important;
    border-radius: 5px 5px 0 0 !important;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 92%;
    left: 0;
    background-color: #7A95F8;
    border: 2px solid white;
    border-radius: 5px;
    z-index: 1;
    text-align: center;
}
button.menu-button>i {
    padding-left: 10px;
}
.dropdown:hover>.menu-button {
    border-bottom: 0 !important;
    border-radius: 5px 5px 0 0 !important;
}
.dropdown:hover>.dropdown-content{
    border-top: 0 !important;
    border-radius: 0 0 5px 5px  !important;
    width: 100%;
}
.dropdown.dropdown-content:hover{
    border-top: 0 !important;
    border-radius: 0 0 5px 5px  !important;
}
.dropdown-content a {
    display: block;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    border-top: 1px solid #fff;
    margin: 0 10px;
}
.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        z-index: 999;
    }
    .menu-item, .dropdown {
        width: 100%;
    }
     .dropdown .menu-button {
        width: 100%;
        text-align: left;
    }
    .hamburger {
        display: flex !important;
    }
    .navbar {
        align-items: end !important;
        position: absolute;
        width: 100%;
        right: 0px;
        top: -86px;
    }



}

@media only screen and (min-device-width: 520px) and (max-device-width: 768px) {
    /* .hamburger {
        display: block !important;
    } */
    .search {
        overflow: visible;
        margin-right: -119px;
        padding: 3px 15px !important;
        margin-top: 2px !important;
    }
    div#menu {
        z-index: 999;
        position: absolute;
        width: 100%;
        right: 10px;
        top: 37px;
        background: linear-gradient(to bottom, #7A95F8 8%, #6453CA 92%);
        padding: 20px 10px;
    }
    .table-responsive {
        overflow-x: auto !important;
    }
    #multiStepForm {
        width: 75% !important;
    }
  }
  @media only screen and (min-device-width: 769px) and (max-device-width: 1208px) {
    .search {


        padding: 5px 14px !important;
        width: 136% !important;

        margin-left: -37px;
    }
    .search>input[type="text"]::placeholder{
        font-size: 14px !important;
    }
    .navbar {
        align-items: end !important;
       padding: 0;
    }
    .menu {

        gap: 4px !important;
    }
    .menu-button {
        padding: 5px 11px !important;
    }
    .table-responsive {
        overflow-x: auto !important;
    }
    #multiStepForm {
        width: 75% !important;
    }

  }
  /* End header Menu */
  form {

    margin-bottom: 0 !important;
}
input:focus{
    outline: none;
}
.search {
    background: #fff;
    border-radius: 24px;
    padding: 11px 15px;
    width: 100%;
    margin-top: 4px;
}
.search>input[type="text"] {
    width: 92%;
    border: 0;
    font-weight: bold;
}
.search>input[type="text"]:focus-visible {

    border: 0 !important;
}
.search>input[type="text"]::placeholder {
    font-size: 14px;

}
.page_title{
    color: #fff;
    font-family: 'Metropolis', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 50px;
}
button.back {
    background: transparent;
    border: 0;
    /* position: absolute;
    top: 167px;
    right: 257px;
    left: 0; */
    width: 6%;
}
button.back>i {
    color: #fff;
    font-size: 26px;

}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus,.btn-primary:focus {
    box-shadow: none !important;
    background-color: #7A95F8;
}
.signup {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#multiStepForm{
    width: 50%;
    padding-bottom: 50px;
}
#step1 input{
    border-radius: 24px;
    padding: 0 20px;
    height: 43px;

}
.form-check {

    padding-left: 0;
}
#step1 input::placeholder{
    color: #828282;
    font-family: 'Metropolis', sans-serif;
    font-weight: 400;
}
.step {
    display: none;
  }
  .step.active {
    display: block;
  }
  .btn, button.btn.btn-success:active {
    font-family: 'Metropolis', sans-serif;
    background-color: #7A95F8;
    border-color: #7A95F8;
    border-radius: 8px;
  }
  .btn:hover {
    font-family: 'Metropolis', sans-serif;
    background-color: #7A95F8;
    border-color: #7A95F8;
  }
.form-group label{
    font-size: 20px;
    font-family: 'Metropolis', sans-serif;
}

 /* Style the label */
 input[type="radio"] {
    display: none;
}
.form-check-label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #ffffff; /* Default border */
    border-radius: 5px;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
   width: 100%;
  }

  /* Add different border for checked state */
  input[type="radio"]:checked + .form-check-label {
    border-color: #7A95F8; /* Color when selected */
    background-color: #7A95F8;
}

  /* Add hover effect */
  .form-check-label:hover {
    border-color: #7A95F8; /* Color when hover */
    background-color: #7A95F8;
}

/* Hide the default checkbox */
 input[type="checkbox"] {
    display: none;
}

  /* Style the custom checkbox */
  .checkbox-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px; /* Space for the custom checkbox */
    font-size: 16px;
    user-select: none;
}

  /* Create the custom checkbox */
  .checkbox-label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff; /* Default border color */
    background-color: transparent; /* Default background color */
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s, border-color 0.3s;
}

  /* Change background color when checked */
  input[type="checkbox"]:checked + .checkbox-label:before {
    background-color: #7A95F8; /* Background color when checked */
    border-color: #7A95F8; /* Border color when checked */
}

  /* Add a checkmark */
  input[type="checkbox"]:checked + .checkbox-label:after {
    content: "âœ“"; /* Checkmark symbol */
    color: #fff; /* Checkmark color */
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

     /* Media Query  */

     @media screen and (max-width: 520px) {
        .logo{
            margin-bottom: 10px !important;
        }
        #multiStepForm{
            width: 100% !important;
        }
        .search_field{
            display: none !important;
        }
        header>.logo>img {

            width: 100%;
        }
        .dropdown-content{
            background: linear-gradient(to bottom, #7A95F8 8%, #6453CA 92%);
        }
        .navbar {
            align-items: end !important;
            position: absolute;
            width: 100%;
            right: 0px;
            top: -100px;
        }
        .checkbox-label {
            padding-left: 28px !important;
            font-size: 16px !important;
        }
        .checkbox-label:before {
            top: 41% !important;
        }
        .form-check {
            padding-left: 0 !important;
        }
        button.back {
            top: 137px !important;
            right: 244px;
            left: 0;
        }
        .hamburger {
            display: flex !important;
        }
        .menu{
            background: linear-gradient(to bottom, #7A95F8 8%, #6453CA 92%);
            padding: 20px 10px;
        }
        .div-56 {
            text-align: center;
            line-height: 2.3;
        }
        .dropdown-content {
           padding-left: 5px;
            text-align: left !important;
        }
        input[type="checkbox"]:checked + .checkbox-label:after {

            top: 46% !important;

        }
      }



      /* Vote Page */
    li.nav-item>a.nav-link.active {
        background-color: #fff;
        color: #6453CA !important;
    }
    li.nav-item>a.nav-link {
        border-radius: 12px !important;

        padding: 6px 49px;
        margin-left: 5px;
        color: #fff;
        border:1px solid #fff;
    }
    .nav-tabs {
        border-bottom: 0 !important;
    }
    .tab-content {
        background: #FBF5F3;
        border-radius: 20px;
        padding: 40px;
        margin-top: 40px;
        overflow: hidden;
        min-height: 400px;

    }
    .tab-content>.active {
        display: block;
        overflow: hidden;
    }

    .number>p {
        padding: 12px !important;
        background: linear-gradient(to bottom, #7A95F8 8%, #6453CA 92%);
        width: 47px;
        text-align: center;
        border-radius: 50%;

    }
    .button_v{
    text-align: center;
    }
    .button_v>button {
        padding: 5px 70px;
        background: linear-gradient(to right, #7A95F8 8%, #6453CA 92%);
    }
    .button_v>a {
        padding: 5px 40px;
        background: linear-gradient(to right, #7A95F8 8%, #6453CA 92%);
    }
    .button_v>p{
        font-size: 13px;
        font-weight: bolder;
    }
    .counter{
        color:  #6453CA ;
    }
    .border_line {
        border-bottom: 1px solid #878787;
    }
    @media (max-width: 520px) {
        .tab-content {

            padding: 40px 5PX;

        }
        .number>p {
            padding: 5px !important;
            width: 34px !important;
        }

        .data>p{
            font-size: 14px;
        }
        .button_v>button {
            padding: 5px 10px;
            background: linear-gradient(to right, #7A95F8 8%, #6453CA 92%);
        }
        .data{
            margin-left: 15px;
        }
        .data>p {
            display: grid;
        }
        .data img {
            height: 36px;
            margin-bottom: 7px;
        }
        ul#myTab>li {
            margin-bottom: 10px;
        }
        li.nav-item>a.nav-link {

            padding: 6px 19px !important;
        }

    }

    button#toggleButton:focus{
outline: none;
    }
    textarea:focus {
        outline: none;
    }
      /* Vote page End */

      /* footer */
      .footer_height{
        height: 200px;
      }
      footer {
        padding: 20px 0;
        border-top: 2px solid #fff;
        width: 100%;
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
    }
      .footer_div{
        display: flex;
        justify-content: center;
        align-content: center;


      }
      .footer_div a{
        color: #fff;
        font-family: 'Metropolis', sans-serif;
        padding: 5px ;
        text-decoration: none;
        border-bottom: 1px solid #7d8aba;
        margin: 0 5px;
      }
      .footer_t{
        text-align: center;
        font-size: 13px;
        color: #fff;
        font-family: 'Metropolis', sans-serif;
      }
      /* End footer */
