<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
        <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.0/css/boxicons.min.css">
        <link rel="stylesheet" href="..//assets/css/compare style.css">
        <link rel="stylesheet" href="..//assets/css/style.css">
        <!-- <link href="https://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="..//assets/css/profile.css">
       
        <title>
            Profile of the Firms
        </title>      
    </head>
                
    <body>
        <header  class="pt-5"> 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-9">
                        <div class="logo">
                            <img src="..//assets/images/logofull 1.png" >
                        </div>
                    </div>
                    <div class="col-md-3  ">
                        <form>
                            <div class="search">
                                <span class="fa fa-search"></span>
                               <input type="text" placeholder="Search 'Apex Trader Funding'">
                              
                              </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="navbar">
    
                            <div class="hamburger" onclick="toggleMenu()">
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                            </div>
                            <div class="menu" id="menu">
                                <div class="menu-item">
                                    <a class="menu-button" href="..//compare/comapre.html">Compare</a>
                                </div>
                                <div class="dropdown">
                                    <button class="menu-button">Tools <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                                    <div class="dropdown-content">
                                        
                                        <a href="..//Map Page/map.html">The Map</a>
                                
                                        <a href="..//review report firm /review_report.html">Review</a>
                                    </div>
                                </div>
                                
                                <div class="dropdown">
                                    <button class="menu-button">Top Lists <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                                    <div class="dropdown-content">
                                        <a href="..//Map Page/map.html">The Map</a>
                                        <a href="..//review report firm /review_report.html">Review</a>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-button" href="..//Signup/Signup.html"><img src="https://img.icons8.com/ios-glyphs/30/ffffff/user.png" alt="Sign In"> Sign In</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </header>

        <!-- Page Title -->

        <!-- <h2 class="page_title pt-4 text-center text-white">Profile of the Firms</h2> -->

         <!-- End Page Title -->

         
           <!-- Sign Up Form -->

    
<br><br>
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 col-12">
                    <div class="review_tab">
                        <div class="row">
                            
                            <div class="col-md-8">
                                <div class="p_data">
                                    <div class="data">
                                        <p style="display: flex;     align-items: center;"> 
                                            <img class="img_data" src="..//assets/images/logo.png" > 
                                            <span class="p_name">
                                            <b>Phoenix Trader Funding</b>  <img class="img_data" src="..//assets/images/france.png" > <br>
                                            <a href="https://phoenixtraderfunding.com" class="p_des">https://phoenixtraderfunding.com</a>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="p_text">Established</p>
                                <p class="d_est"><b>August 2024</b></p>
                            </div>
                            <div class="col-md-2">
                                <p class="p_text">Asset</p>
                                <p class="d_est"><b>CFD</b></p>
                            </div>

                         </div>
                         <br>
                         <ul class="nav nav-tabs justify-content-center" id="myTab_p" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="challenges-tab" data-toggle="tab" href="#challenges" role="tab" aria-controls="challenges" aria-selected="true">Challenges</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br>
            <div class="tab-content p_tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="challenges" role="tabpanel" aria-labelledby="challenges-tab">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 col-12">
                            <div class="profile_challenge">
                                <div class="row gx-5 abot_rev">
                                    <div class="col-md-3 ">
                                        <div class="chalng_tabs review_tab">
                                            <p class="p_text">Profit Split</p>
                                            <p class="d_est1"><b>80% to 90%</b></p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="chalng_tabs review_tab">
                                            <p class="p_text">Technology</p>
                                            <p class="d_est1"><b>Proprietary</b></p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="chalng_tabs review_tab">
                                            <p class="p_text">Direct Path to Live Funded</p>
                                            <p class="d_est1"><b>Yes</b></p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="chalng_tabs review_tab">
                                            <p class="p_text">Payout Frequency</p>
                                            <p class="d_est1"><b>Every 10 Trading Days</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 col-12">
                            <div class="table-responsive">
                                <table class="table table-bordered nowrap" id="p_table" style="width:100%; border-collapse: collapse !important;">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Price</th>
                                            <th>Account Size</th>
                                            <th>Profit Target</th>
                                            <th>Max. Daily Loss</th>
                                            <th>Max. Total Drawdown</th>
                                            <th>Profit Split</th>
                                            <th>Activation Fee</th>
                                            <th>Reward</th>
                                            <th>Buy</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><p class="wsx">$41.50</p><p class="orginal">$42.50</p><span>Monthly</span></td>
                                            <td>50K</td>
                                            <td>$3000</td>
                                            <td>$1200</td>
                                            <td>$2500</td>
                                            <td>80% to 90%</td>
                                            <td>$149</td>
                                            <td>5 Points</td>
                                            <td><img class="img_data" src="../assets/images/922.png" style="width: 50px;"></td>
                                        </tr>
                                        <tr>
                                            <td><p class="wsx">$41.50</p><p class="orginal">$42.50</p><span>Monthly</span></td>
                                            <td>50K</td>
                                            <td>$3000</td>
                                            <td>$1200</td>
                                            <td>$2500</td>
                                            <td>80% to 90%</td>
                                            <td>$149</td>
                                            <td>5 Points</td>
                                            <td><img class="img_data" src="../assets/images/922.png" style="width: 50px;"></td>
                                        </tr>
                                        <tr>
                                            <td><p class="wsx">$41.50</p><p class="orginal">$42.50</p><span>Monthly</span></td>
                                            <td>50K</td>
                                            <td>$3000</td>
                                            <td>$1200</td>
                                            <td>$2500</td>
                                            <td>80% to 90%</td>
                                            <td>$149</td>
                                            <td>5 Points</td>
                                            <td><img class="img_data" src="../assets/images/922.png" style="width: 50px;"></td>
                                        </tr>
                                        <tr>
                                            <td><p class="wsx">$41.50</p><p class="orginal">$42.50</p><span>Monthly</span></td>
                                            <td>50K</td>
                                            <td>$3000</td>
                                            <td>$1200</td>
                                            <td>$2500</td>
                                            <td>80% to 90%</td>
                                            <td>$149</td>
                                            <td>5 Points</td>
                                            <td><img class="img_data" src="../assets/images/922.png" style="width: 50px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <div class="review_tab">
                            
                            <div class="rating-section">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-start">
                                        <h4 style="color: #5B5B5B;">Current Rating
                                            <br>
                                            <span class="p_des">Based on <strong>198</strong>  Reviews</span>
                                        </h4>
                                        
                                        <div class="ml-2 ratess">
                                            <div class="bt_back"></div>
                                            <h4 class="mb-0">4.3</h4>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="review-stats mt-4">
                                    <div class="d-flex align-items-center mb-2">
                                        <span class="progress_title">5 Stars</span>
                                        <div class="rating-bar  flex-grow-1">
                                            <div class="rating-bar-fill" style="width: 70%;"></div>
                                        </div>
                                        <span class="progress_titles"><strong>70</strong> Reviews</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-2">
                                        <span class="progress_title">4 Stars</span>
                                        <div class="rating-bar  flex-grow-1">
                                            <div class="rating-bar-fill" style="width: 50%;"></div>
                                        </div>
                                        <span class="progress_titles"><strong>50</strong> Reviews</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-2">
                                        <span class="progress_title">3 Stars</span>
                                        <div class="rating-bar  flex-grow-1">
                                            <div class="rating-bar-fill" style="width: 30%;"></div>
                                        </div>
                                        <span class="progress_titles"><strong>30</strong> Reviews</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-2">
                                        <span class="progress_title">2 Stars</span>
                                        <div class="rating-bar  flex-grow-1">
                                            <div class="rating-bar-fill" style="width: 10%;"></div>
                                        </div>
                                        <span class="progress_titles"><strong>10</strong>  Reviews</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-2">
                                        <span class="progress_title">1 Star</span>
                                        <div class="rating-bar  flex-grow-1">
                                            <div class="rating-bar-fill" style="width: 5%;"></div>
                                        </div>
                                        <span class="progress_titles"><strong>05</strong>  Reviews</span>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="benefits-drawbacks mb-3 review_tab">
                                <h5 class="head_5">Main Benefits</h5>
                                <p class="p_des">(from user reviews)</p>
                                <p class="text_review">The website is really made and the payouts are fast.</p>
                            </div>
                            <div class="benefits-drawbacks review_tab">
                                <h5 class="head_5">Main Drawbacks</h5>
                                <p class="p_des">(from user reviews)</p>
                                <p class="text_review">Lack of Support</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-8">
                            <br>
                            <div class="list_review">
                                <h5>
                                List of Reviews
                            </h5>
                                <a href="#" class="btn btn-primary newbtn ml-2">+  Add Yours</a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="review_tab r_tab_user">
                            
                            <div class="rating-section">
                                <div class="mb-4 d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/images/Sans titre 2.png" style="width: 46px; ">
                                        <h4 class="names">BASHIR
                                            <br>
                                            <span class="p_des">United Kingdom</span>
                                        </h4>
                                        
                                        <div class="date_show">
                                           
                                                        <span><i class="fa fa-calendar">  </i> Submitted on June 10, 2024 </span>
                                                   
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row  ">
                                    <div class="col-md-3 col-sec-1">
                                        <div class="sect">
                                            <p class="sect_p">Account Size</p>
                                            <p class="act"><b class="acct_val">5K</b></p>
                                        </div>
                                        <div class="sect">
                                            <p class="sect_p">Account Size</p>
                                            <p class="act"><b class="acct_val">5K</b></p>
                                        </div>
                                        <div class="sect">
                                            <p class="sect_p">Account Size</p>
                                            <p class="act"><b class="acct_val">5K</b></p>
                                        </div>
                                        <div class="sect">
                                            <p class="sect_p">Account Size</p>
                                            <p class="act"><b class="acct_val">5K</b></p>
                                        </div>
                                        <div class="sect">
                                            <p class="sect_p">Account Size</p>
                                            <p class="act"><b class="acct_val">5K</b></p>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="sect r_col_1">
                                            <p class="sect_p">Review</p>
                                            <textarea id="textarea" class="styled-textarea" placeholder="This is really a great firm, I loved every part of it except the support team which was kind of slow and unresponsive. Nevertheless I got paid out in an impressive amount of time and thumb up for that"></textarea>

                                        </div>
                                        <div class="row reviews mt-2">
                                            <div class="col-md-5">
                                                <div class="sect ">
                                                    <p class="sect_p">Rating</p>
                                                    <div class="review-stats ">
                                                        <div class="d-flex align-items-center mb-2">
                                                            <span class="progress_title">Dashboard</span>
                                                            <div class="rating-bar  flex-grow-1">
                                                                <div class="rating-bar-fill" style="width: 50%;"></div>
                                                            </div>
                                                            <span class="progress_titles">3 Stars</span>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-2">
                                                            <span class="progress_title">Support Team</span>
                                                            <div class="rating-bar  flex-grow-1">
                                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                                            </div>
                                                            <span class="progress_titles">4 Stars</span>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-2">
                                                            <span class="progress_title">Payout Process</span>
                                                            <div class="rating-bar  flex-grow-1">
                                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                                            </div>
                                                            <span class="progress_titles">5 Stars</span>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-2">
                                                            <span class="progress_title">Rules</span>
                                                            <div class="rating-bar  flex-grow-1">
                                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                                            </div>
                                                            <span class="progress_titles">5 Stars</span>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-2">
                                                            <span class="progress_title">General Rating</span>
                                                            <div class="rating-bar  flex-grow-1">
                                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                                            </div>
                                                            <span class="progress_titles">4 Stars</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="sect sec_height">
                                                    <p class="sect_p">Main Benifit</p>
                                                    <p class="rat_text"> This is really a great firm, I loved every part of it.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="sect sec_height">
                                                    <p class="sect_p">Main Drawbacks</p>
                                                    <p class="rat_text"> This is really a great firm, I loved every part of it.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="sect half_sec" style="    margin-bottom: 10px;">
                                                    <p class="sect_p " style="width: 100%;">Did you find this review useful ?</p>
                                                    <p class="sect_p"> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 15 out of 18 found it useful</p>
                                                </div>
                                                
                                                <div class="sect half_sec">
                                                  
                                                    <p class="sect_p">  <button id="toggleButton" >Certificates / Payouts <b class="acct_val">2</b> <i class="fa fa-chevron-right" aria-hidden="true"></i></button></p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div id="toggleDiv"  class="sect payout_img">
                                            <img src="../assets/images/bas2 1.png">
                                            <img src="../assets/images/bas2 1.png">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <br><br>
                        </div>
                        </div>
                        <div class="col-md-1">
                           
                        </div>
                    </div>
                    <br>
                   
                </div>
               
                <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 col-12">
                            <div class="profile_challenge">
                                <div class="row gx-5 abot_rev">
                                    <div class="col-md-3 ">
                                        <div class="chalng_tabs review_tab">
                                            <p class="p_text">Chief Executive Officer</p>
                                            <p class="d_est1"><img src="..//assets/images/unnamed 1.png" class="about_img"><b>Leon Grimm</b></p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="chalng_tabs review_tab">
                                            <p class="p_text">TrustPilot</p>
                                            <p class="d_est1"><b style="font-size:22px;">3.9 </b> <img src="..//assets/images/image 1.png" class="about_img"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="chalng_tabs review_tab">
                                            <p class="p_text">Payment Method</p>
                                            <p class="d_est1"> <img src="..//assets/images/payment 1.png" class="about_img"><b>Credit Card </b></p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="chalng_tabs review_tab">
                                            <p class="p_text">Payout Method</p>
                                            <p class="d_est1"> <img src="..//assets/images/unnamed 4.png" class="about_img"><b>Payoneer </b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 col-12">
                            <div class="profile_challenge">
                                <div class="row gx-5 abot_rev">
                                    <div class="col-md-6 ">
                                        <div class="chalng_tabs review_tab p-4 ">
                                            <p class="p_text_about">Platform</p>
                                            <p class="d_est1_about"> 
                                                <img src="..//assets/images/unnamed 7.png" class="about_img">
                                                <b>R| Trader Pro </b>
                                            </p>
                                            <p class="d_est1_about"> 
                                                <img src="..//assets/images/images 3.png" class="about_img">
                                                <b>Trading View </b>
                                            </p>
                                            <p class="d_est1_about"> 
                                                <img src="..//assets/images/unnamed 8.png" class="about_img">
                                                <b>NinjaTrader </b>
                                            </p>
                                            <p class="d_est1_about"> 
                                                <img src="..//assets/images/MetaTrader_5 1.png" class="about_img">
                                                <b>Tradovate </b>
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="chalng_tabs review_tab p-4 ">
                                            <p class="p_text_about">Commissions Structure</p>
                                        
                                            <p class="d_est1_about"> 
                                                <img src="..//assets/images/images 2.png" class="about_img">
                                                <b>Purple Trading</b>
                                                <li>Forex, Oil, XPT, XPD, AU, AG: <b>$6</b> per standard lot</li>
                                                <li> Indices, Crypto: <b>Commission Free</b></li>
                                            </p>
                                            <p class="d_est1_about"> 
                                                <img src="..//assets/images/unnamed 2.png" class="about_img">
                                                <b>Trading View </b>
                                            </p>
                                            <p class="d_est1_about"> 
                                                <img src="..//assets/images/unnamed 3.png" class="about_img">
                                                <b>NinjaTrader </b>
                                            </p>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 col-12">
                            <div class="profile_challenge">
                                <div class="row gx-5 abot_rev">
                                    <div class="col-md-12 ">
                                        <div class="chalng_tabs review_tab p-4 ">
                                            <p class="p_text_about">About</p>
                                            <p class="d_est1_about"> 
                                            
                                                Description of the firm Description of the firmDescription of the firmDescription of the firmDescription of the firmDescription of the firmDescription of the firmDescription of the firmDescription of the firm Description of the firmDescription of the firmDescription 
                                            </p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>

           




        </div>

        <!-- Footer -->
        <div class="footer_height"></div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="footer_t">Disclaimer <br>The information provided is intended for general use and informational purposes only. Users are advised to proceed at their own risk and exercise due diligence before making any decisions based on the information provided. It is crucial to understand that our business offers information and does not endorse or recommend any specific proprietary trading firms. Users should independently evaluate and verify the suitability of any such entities before engaging with them. We do not assume responsibility for any consequences or losses arising from the use of the information provided. Thank you for your understanding and discretion.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                       
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="footer_div">
                            <div class="div-56">
                                <a href="">Privacy Policy</a>
                                <a href=""> Terms Of Use</a>
                                <a href=""> Copyright @PropFirmMap 2024</a>
                          </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
         </footer>
    </body>
         <!-- End Footer -->

          <!--  End Sign Up Form -->
          <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script> -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
         <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
         <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>      
      
      
      
          <script>
              function toggleMenu() {
                  var menu = document.getElementById("menu");
                  if (menu.style.display === "flex") {
                      menu.style.display = "none";
                  } else {
                      menu.style.display = "flex";
                  }
              }
          </script>
          <script>
              $(document).ready(function() {
        $("#p_table").DataTable({
          aaSorting: [],
          // responsive: true,
      
          columnDefs: [
            {
              responsivePriority: 1,
              targets: 0
            },
            {
              responsivePriority: 2,
              targets: -1
            }
          ]
        });
      
        $(".dataTables_filter input")
          .attr("placeholder", "Search here...")
          .css({
            width: "300px",
            display: "inline-block"
          });
      
        $('[data-toggle="tooltip"]').tooltip();
      });
      
          </script>
          <script>
            document.getElementById('toggleButton').addEventListener('click', function() {
                var div = document.getElementById('toggleDiv');
                if (div.style.display === 'none') {
                    div.style.display = 'block';
                } else {
                    div.style.display = 'none';
                }
            });
        </script>
      
                        
               
 </html>