<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="..//assets/css/style.css">
        <link rel="stylesheet" href="..//assets/css/top.css">
        <link rel="stylesheet" href="..//assets/css/profile.css">
        <link rel="stylesheet" href="..//assets/css/compare style.css">
        <link href="https://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>
             Top Firm
        </title>      
    </head>
                
    <body>
        <header  class="pt-5"> 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-9">
                        <div class="logo">
                            <img src="..//assets/images/logofull 1.png" >
                        </div>
                    </div>
                    <div class="col-md-3  ">
                        <form>
                            <div class="search">
                                <span class="fa fa-search"></span>
                               <input type="text" placeholder="Search 'Apex Trader Funding'">
                              
                              </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="navbar">
    
                            <div class="hamburger" onclick="toggleMenu()">
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                            </div>
                            <div class="menu" id="menu">
                                <div class="menu-item">
                                    <a class="menu-button" href="..//compare/comapre.html">Compare</a>
                                </div>
                                <div class="dropdown">
                                    <button class="menu-button">Tools <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                                    <div class="dropdown-content">
                                        
                                        <a href="..//Map Page/map.html">The Map</a>
                                
                                        <a href="..//review report firm /review_report.html">Review</a>
                                    </div>
                                </div>
                                
                                <div class="dropdown">
                                    <button class="menu-button">Top Lists <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                                    <div class="dropdown-content">
                                        <a href="..//Map Page/map.html">The Map</a>
                                        <a href="..//review report firm /review_report.html">Review</a>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-button" href="..//Signup/Signup.html"><img src="https://img.icons8.com/ios-glyphs/30/ffffff/user.png" alt="Sign In"> Sign In</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </header>
        <br><br>

        <!-- Page Title -->

        <h2 class="page_title pt-4 text-center text-white">Top Firm</h2>
        <p class="text-center text-white">Here is the list of top-ranked firms by their reviews</p>

         <!-- End Page Title -->

         
           <!-- Sign Up Form -->

        <div class="container  mt-2 pt-4 ">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="home" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="features-tab" data-toggle="tab" href="#features" role="tab" aria-controls="features" aria-selected="false">Futures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="cfd-tab" data-toggle="tab" href="#cfd" role="tab" aria-controls="cfd" aria-selected="false">CFD</a>
                        </li>
                        <li class="nav-item rev_tab mt-3" >
                            <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">+ Review/Report A Firm</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3"></div>
            </div>
           
            <div class="tab-content top_firm_tabs" id="myTabContent">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                    
                    <div class="row mb-3">
                        <div class="col-md-4 col-12">
                            <div class="review_tab">
                            
                                <div class="rating-section top_firm_rating">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center new_top">
                                            <p class="top_firm_title"><img src="..//assets/images/logo.png"> Phoenix Trader Funding
                                               
                                                
                                            </p>
                                            
                                            <div class="">
                                                <div class="bt_backs"></div>
                                                <h4 class="mb-0_1">4.3</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="review-stats mt-4 ">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Dashboard</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 50%;"></div>
                                            </div>
                                            <span class="progress_titles">3 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Support Team</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Payout Process</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Rules</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">General Rating</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="review_tab">
                            
                                <div class="rating-section top_firm_rating">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center new_top">
                                            <p class="top_firm_title"><img src="..//assets/images/logo.png"> Phoenix Trader Funding
                                               
                                                
                                            </p>
                                            
                                            <div class="">
                                                <div class="bt_backs"></div>
                                                <h4 class="mb-0_1">4.3</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="review-stats mt-4 ">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Dashboard</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 50%;"></div>
                                            </div>
                                            <span class="progress_titles">3 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Support Team</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Payout Process</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Rules</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">General Rating</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="review_tab">
                            
                                <div class="rating-section top_firm_rating">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center new_top">
                                            <p class="top_firm_title"><img src="..//assets/images/logo.png"> Phoenix Trader Funding
                                               
                                                
                                            </p>
                                            
                                            <div class="">
                                                <div class="bt_backs"></div>
                                                <h4 class="mb-0_1">4.3</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="review-stats mt-4 ">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Dashboard</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 50%;"></div>
                                            </div>
                                            <span class="progress_titles">3 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Support Team</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Payout Process</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Rules</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">General Rating</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                        </div>
                      
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 col-12">
                            <div class="review_tab">
                            
                                <div class="rating-section top_firm_rating">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center new_top">
                                            <p class="top_firm_title"><img src="..//assets/images/logo.png"> Phoenix Trader Funding
                                               
                                                
                                            </p>
                                            
                                            <div class="">
                                                <div class="bt_backs"></div>
                                                <h4 class="mb-0_1">4.3</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="review-stats mt-4 ">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Dashboard</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 50%;"></div>
                                            </div>
                                            <span class="progress_titles">3 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Support Team</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Payout Process</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Rules</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">General Rating</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="review_tab">
                            
                                <div class="rating-section top_firm_rating">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center new_top">
                                            <p class="top_firm_title"><img src="..//assets/images/logo.png"> Phoenix Trader Funding
                                               
                                                
                                            </p>
                                            
                                            <div class="">
                                                <div class="bt_backs"></div>
                                                <h4 class="mb-0_1">4.3</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="review-stats mt-4 ">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Dashboard</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 50%;"></div>
                                            </div>
                                            <span class="progress_titles">3 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Support Team</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Payout Process</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Rules</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">General Rating</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="review_tab">
                            
                                <div class="rating-section top_firm_rating">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center new_top">
                                            <p class="top_firm_title"><img src="..//assets/images/logo.png"> Phoenix Trader Funding
                                               
                                                
                                            </p>
                                            
                                            <div class="">
                                                <div class="bt_backs"></div>
                                                <h4 class="mb-0_1">4.3</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="review-stats mt-4 ">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Dashboard</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 50%;"></div>
                                            </div>
                                            <span class="progress_titles">3 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Support Team</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Payout Process</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Rules</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">General Rating</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                        </div>
                      
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 col-12">
                            <div class="review_tab">
                            
                                <div class="rating-section top_firm_rating">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center new_top">
                                            <p class="top_firm_title"><img src="..//assets/images/logo.png"> Phoenix Trader Funding
                                               
                                                
                                            </p>
                                            
                                            <div class="">
                                                <div class="bt_backs"></div>
                                                <h4 class="mb-0_1">4.3</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="review-stats mt-4 ">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Dashboard</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 50%;"></div>
                                            </div>
                                            <span class="progress_titles">3 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Support Team</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Payout Process</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Rules</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">General Rating</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="review_tab">
                            
                                <div class="rating-section top_firm_rating">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center new_top">
                                            <p class="top_firm_title"><img src="..//assets/images/logo.png"> Phoenix Trader Funding
                                               
                                                
                                            </p>
                                            
                                            <div class="">
                                                <div class="bt_backs"></div>
                                                <h4 class="mb-0_1">4.3</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="review-stats mt-4 ">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Dashboard</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 50%;"></div>
                                            </div>
                                            <span class="progress_titles">3 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Support Team</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Payout Process</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Rules</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">General Rating</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="review_tab">
                            
                                <div class="rating-section top_firm_rating">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center new_top">
                                            <p class="top_firm_title"><img src="..//assets/images/logo.png"> Phoenix Trader Funding
                                               
                                                
                                            </p>
                                            
                                            <div class="">
                                                <div class="bt_backs"></div>
                                                <h4 class="mb-0_1">4.3</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="review-stats mt-4 ">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Dashboard</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 50%;"></div>
                                            </div>
                                            <span class="progress_titles">3 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Support Team</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Payout Process</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">Rules</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 100%; border-radius: 24px;"></div>
                                            </div>
                                            <span class="progress_titles">5 Stars</span>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="progress_title">General Rating</span>
                                            <div class="rating-bar  flex-grow-1">
                                                <div class="rating-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <span class="progress_titles">4 Stars</span>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                        </div>
                      
                    </div>
                    
                </div>
                <div class="tab-pane fade" id="features" role="tabpanel" aria-labelledby="features-tab">
                   <!-- Futures Tab Content -->
                </div>
                <div class="tab-pane fade" id="cfd" role="tabpanel" aria-labelledby="cfd-tab">
                   <!-- CFD Tab Content -->
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                    <!-- Reviwe Report -->
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer_height"></div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="footer_t">Disclaimer <br>The information provided is intended for general use and informational purposes only. Users are advised to proceed at their own risk and exercise due diligence before making any decisions based on the information provided. It is crucial to understand that our business offers information and does not endorse or recommend any specific proprietary trading firms. Users should independently evaluate and verify the suitability of any such entities before engaging with them. We do not assume responsibility for any consequences or losses arising from the use of the information provided. Thank you for your understanding and discretion.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                       
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="footer_div">
                            <div class="div-56">
                                <a href="">Privacy Policy</a>
                                <a href=""> Terms Of Use</a>
                                <a href=""> Copyright @PropFirmMap 2024</a>
                          </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
         </footer>
         <!-- End Footer -->
    </body>
          <!--  End Sign Up Form -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <script>
        function toggleMenu() {
            var menu = document.getElementById("menu");
            if (menu.style.display === "flex") {
                menu.style.display = "none";
            } else {
                menu.style.display = "flex";
            }
        }
    </script>
                        
               
 </html>